.Logo {
  height: 80px;
  pointer-events: none;
  text-align: center;
}
.Header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

